<ion-view view-title="Login">
    
    <body ng-app="app">
    <ion-content class="top">
         
        <section class="slogan1">
            <p>
                Seu álbum. 
            </p>
            <p>
                Sua família. 
            </p>
            <p>
                Em qualquer lugar.
            </p>
        </section>

        <div class="list">
                <label class="item item-input">
                  <span class="input-label">Usuário</span>
                  <input type="text">
                </label>
                <label class="item item-input">
                  <span class="input-label">Senha</span>
                  <input type="password">
                </label>
              </div>

        <section class="btn1">    
            <button class="button button-outline button-positive">
                Entrar
            </button>
        </section>
        
        <section style="margin-left: 20%;">
            <h5>Não tem uma conta? Cadastre-se</h5>
        </section>

        <!-- <section class="login-campo">
            <div>
                <input type="text" placeholder="Usuário" ng-model="usuario" style="text-align: center; 
                border: 2px solid black; border-radius: 30px;">
                <input type="password" placeholder="Digite sua senha" ng-model="senha" 
                style="text-align: center; border: 2px solid black; border-radius: 30px; margin-top: 3%">
                <button ng-click="entrar(usuario, senha)" style="border-radius: 30px; margin-left: 21%; margin-top: 3%;">Entrar</button>
            </div>
        </section> -->

    </ion-content>
</ion-view>